body {
  margin: 0;
  padding: 0;
  background-color: #dafbf7;
}

.menu {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
}

.menu li {
  list-style: none;
  margin: 20px;
}

.menu a {
  padding: 10px 30px;
  background-color: darkturquoise;
  text-decoration: none;
  color: white;
  border-radius: 50px;
}

.pink {
  background-color: pink;
}

.purple {
  background-color: #d1b1d1;
}

.blue {
  background-color: lightblue;
}

.green {
  background-color: lightgreen;
}

.white {
  background-color: white;
}

.coral {
  background-color: #fdc3ac;
}

.yellow {
  background-color: lightyellow;
}

.parent {
  height: 100vh;
}

.example-1 .parent {
  background-color: aqua;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.example-2 .parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(150px, 25%) 1fr;
      grid-template-columns: minmax(150px, 25%) 1fr;
  /**/
}

.example-2 .parent .sidebar {
  background-color: #e2e28f;
}

.example-2 .parent .section {
  background-color: plum;
}

.example-3 .parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.example-3 .header-section {
  padding: 20px;
}

.example-3 .main-section {
  padding: 20px;
}

.example-3 .footer-section {
  padding: 20px;
}

.example-4 .parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  -ms-grid-columns: auto 1fr auto;
      grid-template: auto 1fr auto / auto 1fr auto;
  height: 100vh;
}

.example-4 .parent .section {
  padding: 2rem;
}

.example-4 .parent header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.example-4 .parent .left-side {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.example-4 .parent main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.example-4 .parent .right-side {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.example-4 .parent footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.example-5 .parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.example-5 .parent .section-12 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
}

.example-5 .parent .section-6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
}

.example-5 .parent .section-4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4 / span 4;
}

.example-5 .parent .section-2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
}

.example-5 .parent .section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
}

.example-6 .parent {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.example-6 .parent .box {
  padding: 1rem;
}

.example-7 .parent {
  height: auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}

.example-7 .parent .visual {
  height: 100px;
  width: 100%;
}

.example-7 .parent .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.example-7 .parent h3 {
  margin: 0;
}

.example-8 .parent {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.example-8 .parent .card {
  width: clamp(23ch, 50%, 46ch);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.example-8 .parent .visual {
  height: 150px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */