body {
  margin: 0;
  padding: 0;
  background-color: rgb(218, 251, 247);
}
.menu {
  display: grid;
  place-items: center;
  height: 100vh;

  li {
    list-style: none;
    margin: 20px;
  }

  a {
    padding: 10px 30px;
    background-color: darkturquoise;
    text-decoration: none;
    color: white;
    border-radius: 50px;
  }
}

.example-1 .parent {
  background-color: aqua;
  display: grid;
  place-items: center;
  height: 100vh;
}

.example-2 {

  .parent {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr; /**/
    height: 100vh;

    .sidebar {
      background-color: rgb(226, 226, 143);
    }

    .section {
      background-color: plum;
    }
  }
}
